---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
// Import partials from `sass_dir` (defaults to `_sass`)
@use "syntax";
@use "starsnonscss";

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

.navbar {
	border-bottom: 1px solid #e13d3a;
}

.navbar-nav .nav-link {
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, 1);
}

mainheading h1.sitetitle {
	font-family: 'Titillium Web','Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mainheading h1.sitetitle .red {
	color: #e13d3a;
}

.section-title h2, .listfeaturedtag {
	border-bottom: 1px solid rgba(225, 61, 58, .125);
}